.btn {
  background-color: $color-main;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border-color: $color-main;
  width: 10em;

  &:hover {
    background-color: $color-main-alt;
    color: #fff;
    border-color: $color-main-alt;
  }
}
